apache-airflow==2.10.1
beautifulsoup4==4.12.3
deprecated==1.2.13
nodriver==0.37
numpy==2.0.2
pandas==2.2.2
pymongo==4.8.0
python-dateutil
python-dotenv==1.0.1
pytz==2023.3
requests==2.28.2
charset-normalizer==2.1.1
idna==3.4
urllib3==1.26.15
certifi==2023.7.22
six
selenium==4.24.0
soupsieve
websockets
wrapt==1.14.1
